<link rel="stylesheet" href="/css/_footer.css">

<footer>
    <div>&copy;Parshant Kumar.All Rights Reserved.</div>
    <div>
        <div><a href="/">Home</a></div>
        <%if (locals.user){%>
            <div><a href="/users/profile/<%=user._id%>">Profile</a> </div>
        <%}%>
    </div>
</footer>