<link rel="stylesheet" href="/css/_header.css">

<header>
    <h1 id="heading">Code Socially</h1>

    <ul id="lists">
        <% if (locals.user){%>
            <li>
                <a href="/users/profile/<%=user._id%>">
                    <%=user.name%>
                </a></li>
            
            <li><a href="/users/signout">Sign Out</a></li>
        <%}else{%>

            <li>
                <a href="/users/signin">Sign In</a>
            </li>

            <li>
                <a href="/users/signup">Sign up</a>
            </li>
        <%}%>
    </ul>
</header>