footer{
    background-color: rgb(230, 188, 112);
    height:8vh;
    display:flex;
    align-items: center;
    div{
        margin:.5rem;
        a{
            text-decoration: none;
            color:white;
        }
    }

}