header {
  display: flex;
  justify-content: space-between;
  background-color: #7a7aeb;
  height: 3rem;
  align-items: center;
  color: white; }
  header #heading {
    margin: 1rem; }
  header ul {
    list-style-type: none;
    display: flex;
    margin: 1rem; }
    header ul li {
      margin: .5rem;
      font-size: 1.5rem; }
      header ul li a {
        text-decoration: none;
        color: white; }
